dist
cabal-dev
*.o
*.hi
*.dyn_hi-boot
*.hi-boot
*.o-boot
*.chi
*.chs.h
.virtualenv
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config
*.so
*.ll
*.bc
*.out
*.s
*.swp
*.DS_Store
*.bin
*.aux
*.log
*.nav
*.toc
*.snm
*.dSYM

*.txt

source/Haskell/rungraciela

src/Haskell/test.sh
